footer {
  background-color: rgb(29, 26, 29);

  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;

  display: flex;
  justify-content: center;
}

a {
  font-size: 75px;
  padding: 10px;
  
  color: blueviolet;
}

a:hover{
  color: rgb(55, 19, 88);
}

iframe{
  border: 3px solid red;



}

#algo{
  /* display: none; */
}